@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #bfd0dd;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #163c43;
    --foreground: #21626f;
  }
} */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}