@import "tailwindcss";

:root {
  --background: #ffffff;
  --color: rgba(0, 0, 0, 0.719);
  --foreground: #e0dfdf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #163c43;
    --color: rgb(255, 255, 255);
    --foreground: #1c5661;
  }
}

body {
  background: var(--background);
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}